<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Regalo
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>

            <ion-col size="6">
                <ion-card>
                    <img src="../../assets/nave.jpg" alt="">
                    <ion-card-header>
                        <ion-card-subtitle>Nave Starwars</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card>
                    <img src="../../assets/bolo.jpg" alt="">
                    <ion-card-header>
                        <ion-card-subtitle>Toy story peluche</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>

            <ion-col size="6">
                <ion-card>
                    <img src="../../assets/peluche2.jpg" alt="">
                    <ion-card-header>
                        <ion-card-subtitle>Mickey peluche</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-card>
                    <img src="../../assets/peluche3.jpg" alt="">
                    <ion-card-header>
                        <ion-card-subtitle>Mimi peluche</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>

        </ion-row>
    </ion-grid>

</ion-content>